.title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.h1 {
  font-size: 44px;
  letter-spacing: 2.4px;
}

.p {
  font-size: 18px;
  letter-spacing: 1px;
}
