.home {
  min-height: 90%;
  background: var(--primary);
  box-shadow: var(--base-shadow);
  border-radius: 35px 35px 0 0;

  display: flex;
  justify-content: center;
  padding: 40px 220px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 50px;
}
